Hub/Editor/6000.0.36f1/Editor/Unity filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/libRL.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Tools/libRL.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Tools/libOpenImageDenoise.so.1 filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Tools/libOpenImageDenoise.so.1.4.2 filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Tools/Compilation/Unity.ILPP.Trigger/Unity.ILPP.Trigger filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Tools/libOpenImageDenoise.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/unity[[:space:]]editor[[:space:]]resources filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/Diagnostics/bin/UnityPackageManagerDiagnostics filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/Editor/com.unity.polyspatial-2.0.4.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/Editor/com.unity.zivart-player-2.1.0.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/Editor/com.unity.physics-1.3.2.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/Editor/com.unity.animation.rigging-1.3.0.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/Editor/com.unity.adaptiveperformance-5.1.0.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/Editor/com.unity.services.vivox-16.5.0.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/Editor/com.unity.polyspatial.visionos-2.0.4.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/Editor/com.unity.postprocessing-3.4.0.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/Editor/com.unity.xr.arkit-6.0.3.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/Editor/com.havok.physics-1.3.2.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/Editor/com.unity.burst-1.8.18.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/MacOS-arm64/libOpenImageDenoise.1.dylib filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/MacOS-arm64/libOpenImageDenoise.dylib filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/MacOS-arm64/libOpenImageDenoise.1.4.2.dylib filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/Windows-arm64/OpenImageDenoise.dll filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/MacOS-x64/libOpenImageDenoise.1.dylib filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/MacOS-x64/libOpenImageDenoise.dylib filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/MacOS-x64/libOpenImageDenoise.1.4.2.dylib filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/Linux-x64/libOpenImageDenoise.so.1 filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/Linux-x64/libOpenImageDenoise.so.1.4.2 filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/Linux-x64/libOpenImageDenoise.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/Windows-x64/OpenImageDenoise.dll filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/ProjectTemplates/libcache/com.unity.template.3d-high-end-17.0.5/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/PackageManager/Server/UnityPackageManager filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/Resources/unity_builtin_extra filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_server_development_il2cpp/UnityPlayer.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_server_development_il2cpp/UnityPlayer_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_server_nondevelopment_mono/UnityPlayer_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_server_nondevelopment_il2cpp/UnityPlayer_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_server_development_mono/UnityPlayer.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_server_development_mono/UnityPlayer_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_player_development_mono/UnityPlayer.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_player_development_mono/UnityPlayer_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_player_development_il2cpp/UnityPlayer.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_player_development_il2cpp/UnityPlayer_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_player_nondevelopment_mono/UnityPlayer_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_player_nondevelopment_il2cpp/UnityPlayer_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1/Editor/Unity_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Unity filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/libRL.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/Tools/libRL.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/Tools/libOpenImageDenoise.so.1 filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/Tools/libOpenImageDenoise.so.1.4.2 filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/Tools/libOpenImageDenoise.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/Resources/unity[[:space:]]editor[[:space:]]resources filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/Resources/PackageManager/Diagnostics/bin/UnityPackageManagerDiagnostics filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/Resources/PackageManager/Editor/com.unity.xr.arkit-4.2.3.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/Resources/PackageManager/Editor/com.unity.animation.rigging-1.1.1.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/Resources/PackageManager/Editor/com.unity.adaptiveperformance-3.0.2.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/Resources/PackageManager/Editor/com.unity.burst-1.6.5.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/Resources/PackageManager/Editor/com.unity.postprocessing-3.2.2.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/Resources/PackageManager/Server/UnityPackageManager filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/Resources/unity_builtin_extra filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_server_development_il2cpp/UnityPlayer.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_server_development_il2cpp/UnityPlayer_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_server_development_mono/UnityPlayer.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_server_development_mono/UnityPlayer_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_player_development_mono/UnityPlayer.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_player_development_mono/UnityPlayer_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_player_development_il2cpp/UnityPlayer.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_player_development_il2cpp/UnityPlayer_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_player_nondevelopment_mono/UnityPlayer_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_player_nondevelopment_il2cpp/UnityPlayer_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/libOpenImageDenoise.so.1.4.2 filter=lfs diff=lfs merge=lfs -text
Hub/Editor/2021.3.5f1/Editor/Unity_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Unity filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/libRL.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Tools/libRL.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Tools/libOpenImageDenoise.so.1 filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Tools/libOpenImageDenoise.so.1.4.2 filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Tools/Compilation/Unity.ILPP.Trigger/Unity.ILPP.Trigger filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Tools/libOpenImageDenoise.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/unity[[:space:]]editor[[:space:]]resources filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/Diagnostics/bin/UnityPackageManagerDiagnostics filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/Editor/com.unity.polyspatial-2.0.4.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/Editor/com.unity.zivart-player-2.1.0.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/Editor/com.unity.physics-1.3.2.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/Editor/com.unity.animation.rigging-1.3.0.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/Editor/com.unity.adaptiveperformance-5.1.0.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/Editor/com.unity.services.vivox-16.5.0.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/Editor/com.unity.polyspatial.visionos-2.0.4.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/Editor/com.unity.postprocessing-3.4.0.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/Editor/com.unity.xr.arkit-6.0.3.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/Editor/com.havok.physics-1.3.2.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/Editor/com.unity.burst-1.8.18.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/MacOS-arm64/libOpenImageDenoise.1.dylib filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/MacOS-arm64/libOpenImageDenoise.dylib filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/MacOS-arm64/libOpenImageDenoise.1.4.2.dylib filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/Windows-arm64/OpenImageDenoise.dll filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/MacOS-x64/libOpenImageDenoise.1.dylib filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/MacOS-x64/libOpenImageDenoise.dylib filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/MacOS-x64/libOpenImageDenoise.1.4.2.dylib filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/Linux-x64/libOpenImageDenoise.so.1 filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/Linux-x64/libOpenImageDenoise.so.1.4.2 filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/Linux-x64/libOpenImageDenoise.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/Windows-x64/OpenImageDenoise.dll filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/ProjectTemplates/libcache/com.unity.template.3d-high-end-17.0.5/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/PackageManager/Server/UnityPackageManager filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/Resources/unity_builtin_extra filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_player_development_mono/UnityPlayer.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_player_development_mono/UnityPlayer_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_player_nondevelopment_mono/UnityPlayer_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.0.36f1-x86_64/Editor/Unity_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Unity filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/libRL.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Tools/libRL.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Tools/libOpenImageDenoise.so.1 filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Tools/libOpenImageDenoise.so.1.4.2 filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Tools/Compilation/Unity.ILPP.Trigger/Unity.ILPP.Trigger filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Tools/libOpenImageDenoise.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/unity[[:space:]]editor[[:space:]]resources filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/Diagnostics/bin/UnityPackageManagerDiagnostics filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/Editor/com.unity.adaptiveperformance-5.1.3.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/Editor/com.havok.physics-1.3.8.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/Editor/com.unity.services.vivox-16.6.0.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/Editor/com.unity.polyspatial-2.2.4.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/Editor/com.unity.polyspatial.visionos-2.2.4.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/Editor/com.unity.burst-1.8.21.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/Editor/com.unity.physics-1.3.8.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/Editor/com.unity.animation.rigging-1.3.0.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/Editor/com.unity.xr.interaction.toolkit-3.1.1.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/Editor/com.unity.postprocessing-3.4.0.tgz filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.visualeffectgraph/Documentation~/Images/WhatsNew_17_1_Instanced_Explosions.mp4 filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/MacOS-arm64/libOpenImageDenoise.1.dylib filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/MacOS-arm64/libOpenImageDenoise.dylib filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/MacOS-arm64/libOpenImageDenoise.1.4.2.dylib filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/Windows-arm64/OpenImageDenoise.dll filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/MacOS-x64/libOpenImageDenoise.1.dylib filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/MacOS-x64/libOpenImageDenoise.dylib filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/MacOS-x64/libOpenImageDenoise.1.4.2.dylib filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/Linux-x64/libOpenImageDenoise.so.1 filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/Linux-x64/libOpenImageDenoise.so.1.4.2 filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/Linux-x64/libOpenImageDenoise.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/BuiltInPackages/com.unity.rendering.denoising/Runtime/Plugin/Windows-x64/OpenImageDenoise.dll filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/PackageManager/Server/UnityPackageManager filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/Resources/unity_builtin_extra filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/PlaybackEngines/WebGLSupport/BuildTools/Emscripten/llvm/wasm-ld filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/PlaybackEngines/WebGLSupport/BuildTools/Emscripten/llvm/clang-repl filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/PlaybackEngines/WebGLSupport/BuildTools/Emscripten/llvm/clang++ filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/PlaybackEngines/WebGLSupport/BuildTools/Emscripten/llvm/clang-17 filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/PlaybackEngines/WebGLSupport/BuildTools/Emscripten/llvm/opt filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/PlaybackEngines/WebGLSupport/BuildTools/Emscripten/llvm/clang filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/PlaybackEngines/WebGLSupport/BuildTools/Emscripten/llvm/lld filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/PlaybackEngines/WebGLSupport/BuildTools/Emscripten/llvm/clang-linker-wrapper filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/PlaybackEngines/WebGLSupport/BuildTools/Emscripten/emscripten/node_modules/google-closure-compiler-linux/compiler filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/PlaybackEngines/WebGLSupport/BuildTools/Emscripten/node/node filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/PlaybackEngines/WebGLSupport/BuildTools/lib/modules_mt_wasm23/WebGLSupport_UnityPlayer.CoreModule_Dynamic.a filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/PlaybackEngines/WebGLSupport/BuildTools/lib/modules_wasm23/WebGLSupport_UnityPlayer.CoreModule_Dynamic.a filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/PlaybackEngines/WebGLSupport/BuildTools/lib/modules/WebGLSupport_UnityPlayer.CoreModule_Dynamic.a filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_player_development_mono/UnityPlayer.so filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_player_development_mono/UnityPlayer_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Data/PlaybackEngines/LinuxStandaloneSupport/Variations/linux64_player_nondevelopment_mono/UnityPlayer_s.debug filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/BugReporter/UnityBugReporter filter=lfs diff=lfs merge=lfs -text
Hub/Editor/6000.1.0f1/Editor/Unity_s.debug filter=lfs diff=lfs merge=lfs -text
nightMaze/Library/PackageCache/com.unity.sysroot.linux-x86_64@1998d1c7730e/data~/payload.tar.7z filter=lfs diff=lfs merge=lfs -text
nightMaze/Library/PackageCache/com.unity.burst@616862665d8c/.Runtime/libburst-llvm-10.dylib filter=lfs diff=lfs merge=lfs -text
nightMaze/Library/PackageCache/com.unity.burst@616862665d8c/.Runtime/hostmac/dsymutil filter=lfs diff=lfs merge=lfs -text
nightMaze/Library/PackageCache/com.unity.burst@616862665d8c/.Runtime/burst-llvm-16-arm64.dll filter=lfs diff=lfs merge=lfs -text
nightMaze/Library/PackageCache/com.unity.burst@616862665d8c/.Runtime/burst-llvm-16.dll filter=lfs diff=lfs merge=lfs -text
nightMaze/Library/PackageCache/com.unity.burst@616862665d8c/.Runtime/libburst-llvm-16.dylib filter=lfs diff=lfs merge=lfs -text
nightMaze/Library/PackageCache/com.unity.burst@616862665d8c/.Runtime/libburst-llvm-16.so filter=lfs diff=lfs merge=lfs -text
.git/objects/5d/f9ec3759acd78f5b4ac25293915b0eedd149b2 filter=lfs diff=lfs merge=lfs -text
.git/objects/f8/tmp_obj_xGrx0S filter=lfs diff=lfs merge=lfs -text
.git/objects/2f/0668f0616b84691fd9adae8d1b5931019369f0 filter=lfs diff=lfs merge=lfs -text
.git/objects/47/6ecdaa64b9c346392e0dfee1732080145444c4 filter=lfs diff=lfs merge=lfs -text
.git/objects/03/6e7d1b668b2fc7ea3d9d0430b890211830045f filter=lfs diff=lfs merge=lfs -text
.git/objects/8e/e266d70626b3618bfe5ec3dbddac08d79cb194 filter=lfs diff=lfs merge=lfs -text
.git/objects/2a/497a3ec29c0883010706f40216a02d84cb6c96 filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-277b42244146f38107ad269558e6ae597e198a23.pack filter=lfs diff=lfs merge=lfs -text
.git/objects/3d/aaead48a63c70c4a81920d4b1b355cee2b00bb filter=lfs diff=lfs merge=lfs -text
.git/objects/3d/04edd394e8607bef41013f79474166eb32367e filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/94/48/944842e2c5548e8ff197068be5ed4f24ed628bdf8ac8bf9204e82ab131eacb66 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/54/0c/540c76a2c69dfae8f7b0f51f5315ac4b7be4ad73de5de75b227a5bbfff177025 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/91/cc/91cc6c1878de89c70d524bf90a0ccae0681d230320180dea41a8130279897b21 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/fb/ae/fbae2ec79a5808e48eba68f6e3f2ac80b60b690b7a24df49f7548f4f726e2647 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/b5/46/b546632d1b57495a948aa575e81724f7e8c2ee3f07a80ac82c9c9babe12b1b18 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/83/db/83db985d4c493575b1393eabd9de6245bc9fcdcc20cb708e65df761cb32cb3a8 filter=lfs diff=lfs merge=lfs -text
.git/lfs/objects/7f/9f/7f9fb42402de443a49be64dc59206751c89751183c78d0cb82b1e3fb08bf9b40 filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
flappyBird/Library/PackageCache/com.unity.sysroot.linux-x86_64@1998d1c7730e/data~/payload.tar.7z filter=lfs diff=lfs merge=lfs -text
flappyBird/Library/PackageCache/com.unity.burst@616862665d8c/.Runtime/libburst-llvm-10.dylib filter=lfs diff=lfs merge=lfs -text
flappyBird/Library/PackageCache/com.unity.burst@616862665d8c/.Runtime/hostmac/dsymutil filter=lfs diff=lfs merge=lfs -text
flappyBird/Library/PackageCache/com.unity.burst@616862665d8c/.Runtime/burst-llvm-16-arm64.dll filter=lfs diff=lfs merge=lfs -text
flappyBird/Library/PackageCache/com.unity.burst@616862665d8c/.Runtime/burst-llvm-16.dll filter=lfs diff=lfs merge=lfs -text
flappyBird/Library/PackageCache/com.unity.burst@616862665d8c/.Runtime/libburst-llvm-16.dylib filter=lfs diff=lfs merge=lfs -text
flappyBird/Library/PackageCache/com.unity.burst@616862665d8c/.Runtime/libburst-llvm-16.so filter=lfs diff=lfs merge=lfs -text
.git/objects/pack/pack-9e037477bcaae286f3dff4b7e6ff8c82838a04f0.pack filter=lfs diff=lfs merge=lfs -text
